body {
    background: url("../img/background.png");
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el { 
    font-style: italic;
    
}

button {
    color: #016f32;
    font-size: 0.7em;
    margin-bottom: 3px;
    width: 150px;
    padding: 10px;
    background: goldenrod;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;

}